{%extends 'main.html' %}

{%block content%}
{% if page == 'login' %}
<diV>
    <form method="post" action="">
        {%csrf_token%}
        <label>username:</label>
        <input type="text" name='username' placeholder="Enter username">
        <label>Password:</label>
        <input type="password" name='password' placeholder="Enter password">
        <input type="submit" value="login"/>
    </form>
    <p>Haven't Signed up yet?</p>
    <a href="{%url 'register'%}">Sign Up</a>
</diV>
{%else%}
<diV>
    <form method="post" action="">
        {%csrf_token%}
       {{form.as_p}}
        <input type="submit" value="register"/>
    </form>
    <p>Already Signed up?</p>
    <a href="{%url 'login'%}">Login</a>
</diV>
{%endif%}
{% endblock content %}